.red {
    color: red;
}

body {
    background-color: #ccffcc;
    border: 1px solid gray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #ccffcc;
    border: 1px solid gray;
}

.title-div {
    align-self: flex-start;
    border: 1px solid gray;
}

.title-large {
    color: darkblue;
    background-color: #ccffcc;
}

.title-medium {
    color: lightblue;
}

.fact-div {
    align-self: center;
    border: 1px solid gray;
}

.fact-button {
    background: #ccffcc;
}

.picture-div {
    align-self: center;
    border: 1px solid gray;
}

.kitty-button {
    background: pink;
}