.container{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    background: linear-gradient(to top, #ffa751, #ffe259); 
};
header{
    grid-row: 1;

};
main{
    grid-row: 2;
    border: 1px dotted orange;
};

.lookupContainer{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
};

.autoBreweryFinder{
    font: bold 30px message-box;
    border: 1px solid red;
    order: 1;
    height: 300px;
    width: 600px;
};

.breweryLookUp{
    font: bold 30px message-box;
    border: 1px solid red;
    order: 2;
    height: 300px;
    width: 600px;
};

form{
    border: 1px solid red;
}

.breweryLocationTable{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

.breweryLocations{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

footer{
    grid-row: 3;
};

